.fa-regular {
  color: orange;
  font-size: 50px;
}
.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 20px 40px;
  grid-gap: 20px;
}
.product-container {
  background-color: rgb(236, 228, 217);
  border-radius: 10px;
}
.cart-container {
  background-color: rgb(200, 210, 230);
  border-radius: 10px;
  padding: 0 30px;
}
.card {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border: none;
  padding: 10px 50px;
  background-color: rgb(236, 228, 217);
}
button {
  border-radius: 5px;
}
